<h1>Scenario:
  {{content-editable value=title placeholder="Scenario Title" tagName="span"}}</h1>

{{#if renderExamplesExpanded}}

  {{#each example in examples}}
    <div class="scenario-example">
      {{#each step in steps}}
        {{story-step step=step example=example}}
      {{/each}}
    </div>
  {{/each}}

{{else}}

  <div class="scenario-example">
    {{#each step in steps}}
      {{story-step step=step}}
    {{/each}}
  </div>

  {{#if examples}}

    <div class="scenario-examples-table">
      <h5>Examples:</h5>
      <table>
        <thead>
          <td>|</td>
          {{#each param in parameters}}
            <td>{{param}}</td><td>|</td>
          {{/each}}
        </thead>
        {{#each example in examples}}
          {{step-example-row example=example parameterKeys=parameters}}
        {{/each}}
      </table>
    </div>

  {{/if}}

{{/if}}
